<ion-view view-title="添加/删除线路">
	<ion-content>
		
	<div class="row responsive-sm">
	  <div class="col button button-stable" ng-click="show()">1号线</div>
	  <div class="col button button-positive" ng-click="show()">2号线</div>
	  <div class="col button button-calm" ng-click="show()">3号线</div>
	  <div class="col button button-balanced" ng-click="show()">4号线</div>
	  <div class="col button button-energized" ng-click="show()">5号线</div>
	  <div class="col button button-assertive" ng-click="show()">6号线</div>
	  <div class="col button button-royal" ng-click="show()">7号线</div>
	  <div class="col button button-dark" ng-click="show()">8号线</div>
	  <div class="col button button-light" ng-click="show()">9号线</div>
	  <div class="col button button-positive" ng-click="show()">1号线0</div>
	  <div class="col button button-positive" ng-click="show()">1号线1</div>
	  <div class="col button button-positive" ng-click="show()">1号线2</div>
	  <div class="col button button-positive" ng-click="show()">1号线3</div>
	  <div class="col button button-positive" ng-click="show()">1号线6</div>
	</div>
	</ion-content>
</ion-view>