/* Empty. Add your own CSS if you like */
*{
	font-family: "黑体","Microsoft Yahei",sans serif;
}
.view_title{
	text-align: center;
	color: #333;
}
.tab_dash_img{
	width: 100%;
	height: auto;
	background: url('../img/bg.jpg') no-repeat top center;
	background-size: 100% 100%;
}
.axis line,
.axis path{
	fill:none;
	shape-rendering:crispEdges;
	stroke:#333;
}
text{
	font: bold 12px Verdana, Helvetica, Arial, sans-serif;
}
.subway_routes{
	width: 100%;
	height: 736px;
}
#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}

.deleteItem{
    color: #9e9e9e;
    text-decoration: line-through;
}
/*.the-way .item-avatar ul{
	display: none;
}*/
.animate-show {
  transition: all linear 0.5s;
  height: auto;
  opacity: 1;
 
}

.animate-show {

  opacity: 1;

}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
	height: 0;
  opacity: 0;

}